@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700 &display=swap");

.sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 200px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #22aee6;
    /* blue */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 10px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 200px;
    /* Same as the width of the sidebar */
    padding: 0 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and(max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    background-color: #2196f3;
    padding: 10px;
    column-gap: 50px;
    row-gap: 50px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
}

.header {
    display: flex;
    margin-bottom: 30px;
}

.bell-logo-name {
    display: flex;
    align-items: end;
    margin-left: 400px;
    gap: 40px;
}

.logo {
    border-radius: 30px;
    box-shadow: #818181;
}

.search {
    display: flex;
    gap: 5px;
    margin-left: 20px;
    align-items: center;
}

input {
    border-radius: 30px;
    padding: 5px 90px;
    margin-left: 50px;
}

.header2 {
    display: flex;
    margin-top: 45px;
    margin-bottom: 40px;
}

.buttons {
    display: flex;
    margin-left: 550px;
    gap: 15px;
    align-items: center;
}

.new {
    padding: 5px 20px;
    background-color: #5b69e9;
    color: #f1f1f1;
    border-radius: 15px;
}

.upload {
    padding: 5px 20px;
    background-color: #5b69e9;
    color: #f1f1f1;
    border-radius: 15px;
}

.share {
    padding: 5px 20px;
    background-color: #5b69e9;
    color: #f1f1f1;
    border-radius: 15px;
}

.logo-greet-name {
    display: inline-flex;
    gap: 10px;
}

.hi {
    font-size: smaller;
    font-display: bolder;
}

.names {
    font-size: large;
    font-display: bolder;
}

.dashboards {
    display: flex;
    gap: 15px;
}

.dashboard-text {
    color: #f1f1f1;
    font-display: bolder;
    margin-top: 10px;
}

.home {
    display: flex;
    gap: 15px;
}

.home-text {
    color: #f1f1f1;
    font-display: bolder;
    margin-top: 10px;
}

.person {
    display: flex;
    gap: 15px;
}

.profile-text {
    color: #f1f1f1;
    font-display: bolder;
    margin-top: 10px;
}

.comment {
    display: flex;
    gap: 15px;
}

.messages-text {
    color: #f1f1f1;
    font-display: bolder;
    margin-top: 10px;
}

.history {
    display: flex;
    gap: 15px;
}

.history-text {
    color: #f1f1f1;
    font-display: bolder;
    margin-top: 10px;
}

.task {
    display: flex;
    gap: 15px;
}

.task-text {
    color: #f1f1f1;
    font-display: bolder;
    margin-top: 10px;
}

.group {
    display: flex;
    gap: 15px;
}

.group-text {
    color: #f1f1f1;
    font-display: bolder;
    margin-top: 10px;
}

.settings {
    display: flex;
    gap: 15px;
}

.settings-text {
    color: #f1f1f1;
    font-display: bolder;
    margin-top: 10px;
}

.help {
    display: flex;
    gap: 15px;
}

.support-text {
    color: #f1f1f1;
    font-display: bolder;
    margin-top: 10px;
}

.verified-user {
    display: flex;
    gap: 15px;
}

.privacy-text {
    color: #f1f1f1;
    font-display: bolder;
    margin-top: 10px;
}


.pro-annouce {
    display: flex;
    gap: 900px;
    margin-top: 90px;
}

.one {
    text-align: center;
    padding-top: 90px;
    padding-left: 40px;
    padding-bottom: 90px;
    padding-right: 40px ;

}
